.result-page{
    display: flex;
    flex-direction: column;
    /* border: solid purple 1vh; */
    margin-top:0vh;
    padding:0vh;
}

.option_column{
    
    /* flex:20%; */
    /* border:black solid 1vh; */
    margin:0vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 0vh;
    margin-top: 0vh;
    /* position: fixed; */
        justify-content: center;
        width: 100vw;
        /* margin-bottom: 1vh; */
    position: fixed;
    z-index: 9;
    background-color: white;
    top: 60px;
    left: 0px;
}
.linechart-varied
{
    /* border:solid 1vh yellow; */
    display:flex;
    flex-direction: column;
    padding:3vh;
    margin-top: 64px;
    
}

section.homelayout_section{
    margin:0vh;
    /* margin-bottom: 1vh; */
    /* border:solid brown 1vh; */
    padding: 0vh;
    margin-left:10vh;
}

.linechart-varied > div {
    margin-bottom: 50px; /* Space between sections */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Style for anchor tags */
a.ElectionType {
    margin: 1vh;
    background-color:  #ff7878;
    color: white;
    border-radius: 2.5vh;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

/* Hover effect for anchor tags */
a.ElectionType:hover {
   opacity: 0.7;
    transform: scale(1.1); /* Slight zoom effect */
}

/* Active anchor style */
a.ElectionType.active {
opacity:0.5;
    transform: scale(1.1); /* Slight zoom effect */
   
}

